*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.header{
    background:#1f2937;
    width: 100%;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}
.header h2{
    color: white;
}

.header ul{
    display:flex;
    list-style:none;
    gap:30px;
}

.header a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.header a:hover{
    color:gold;
}